@import "tailwindcss";

@layer base {
    :root {
        --main-color: #FF3F3F;
        --main-backgroundcolor: #0B0B0B;
        --main-whitecolor: #DFDFDF;
        --main-bordercolor: #E54A4A;
        --color-unactive: #D2D2D2;
    }
}

.navGlow {
    position: relative;    
    &::before {     
        opacity: 0;   
        transition: all 0.3s;
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -17px;
        width: 0%;
        height: 2px;
        background-color: var(--main-color);
        box-shadow: 0px 4px 20px 1px var(--main-color);
    }
    &:hover {
        text-shadow: 0 0 9px var(--main-color);
        transition: all 0.3s;
        &::before {
            opacity: 1;
            width: 100%;
        }
    }
}
.userloc-now {
    position: relative;    
    transition: all 0.3s;
    color: var(--main-color);
    &::before {     
        opacity: 1;   
        transition: all 0.3s;
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -17px;
        width: 100%;
        height: 2px;
        background-color: var(--main-color);
    }
    text-shadow: 0 0 9px var(--main-color);    
}